:root {
    --bg-color: #212121;
}

body {
    background-color: var(--bg-color);
    color: white;
}

h2 {
    text-align: center;
}

.login-img {
    width: 200px;
    height: 200px;
}

.form-register,
.form-signin {
    color: whitesmoke;
}
