{% extends 'base.html' %}

{% block title %}
  Products
{% endblock %}

{% block content %}
  <div class="row products-row">
    <div class="col-8">
      <h2>Available Products</h2>
      <hr>
      <table class="table table-striped table-hover table-dark table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Barcode</th>
              <th scope="col">Price</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
              {% for item in itens %}
                {% include 'includes/modal-products.html' %}
                  <tr>
                      <th scope="row">{{item.id}}</th>
                      <td>{{item.name}}</td>
                      <td>{{item.barcode}}</td>
                      <td>{{item.format_price}}</td>
                      <td>
                        <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#exampleModal-{{item.id}}">More Information</button>
                        <button class="btn btn-outline btn-success"  data-toggle="modal" data-target="#exampleModalBuy-{{item.id}}">Buy</button>
                      </td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="col-4">
      <h2>Purchased Products</h2>
      <hr>
      <div class="row">
      {% for item in owner_items %}
          {% include 'includes/owner-modal-products.html' %}
          <div class="col-md-6">
            <div class="card text-center bg-dark purchased-card">
              <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.format_price}}</p>
               <button class="return-button btn btn-outline-danger"
                data-toggle="modal"
                data-target="#exampleModalSale-{{item.id}}"
                type="button"
               >
                  Return this product
               </button>
              </div>
            </div>
          </div>
      {% endfor %}
        </div>
    </div>
  </div>
{% endblock %} 